/* @import 'shared.css'; */

.wrapper {
    font-style: italic;
    text-align: center;

    &:after {
        border-bottom: var(--border);
        border-color: var(--border-color);
        content: '';
        display: block;
        height: 0px;
        margin: var(--margin-v) auto;
        width: 100%;
    }
}
