/* @import url('node_modules/@manuel-bieh/design-system/dist/variables.css'); */

/* @import url('@manuel-bieh/design-system/dist/variables.css'); */

/* :root {
    --border: 2px solid;
    --border-color: var(--color-lightgrey);
    --margin-v: 20px;
    --width: 80%;
} */
