.quote {
    clear: both;
    font-style: italic;
    margin: 16px 16px 32px 16px;
    text-align: justify;
    width: 85%;

    &:nth-child(2n) {
        float: right;
    }

    img {
        border: 4px solid #cccccc;
        border-radius: 50%;
        float: left;
        margin: 0 16px 16px 0;
        width: 96px;
    }

    cite {
        color: #666;
        display: block;
        font-style: normal;
        margin-top: 8px;
        text-align: right;
    }
}
