/* @import '@manuel-bieh/ui/dist/es/fonts.css';
@import '@manuel-bieh/ui/dist/es/variables.css'; */

@page {
    margin: 0;
    size: A4 portrait;
}

@media screen {
    .wrapper {
        box-shadow: 0 0 20px -10px black;
        margin: 10px auto;
        /* max-width: 662px; */
        max-width: 792px;
    }
}

.wrapper {
    border-collapse: collapse;
    font-size: 1.6rem;
    min-height: 100vh;
    padding-top: 0;

    a {
        color: black;
    }

    p {
        margin-bottom: 0.8rem;
        margin-top: 0;
    }

    h1 {
        font-size: 42px;
        padding-top: 28px;
        position: static;
    }

    thead,
    tbody,
    tfoot {
        td {
            border: 0;
        }
    }

    td {
        vertical-align: top;
    }

    th {
        border: 0;
    }
}

.header {
    align-items: center;
    /* left: 0; */
    column-gap: 6px;
    display: flex;
    margin-bottom: 44px;
    padding: 22px 24px 4px 24px;
    /* position: fixed; */
    text-align: left;
    /* top: 0; */

    h1,
    h2 {
        margin: 0;
        padding: 0;
    }

    h1 {
        color: #00c7c2;
        /* font-size: 38px; */
        font-size: 3rem;
        line-height: 1;
        padding-left: 0;
        /* padding-top: 20px; */
    }

    h1:after {
        content: none;
    }

    h1,
    h2 {
        display: inline-block;
        font-weight: 700;
    }

    h2 {
        color: white;
        font-size: 2rem;
        font-weight: 500;
        line-height: 1.4;
        padding-top: 2px;
    }
}

.content {
    > tr > td {
        padding: 0 24px;
    }

    h2 {
        border-bottom: 1px solid var(--color-secondary);
        font-weight: 500;
        margin-top: 2.4rem;
        padding-bottom: 0.4rem;
    }

    ul {
        margin: 1rem 0 1rem 2rem;
    }
}

.footer {
    padding-bottom: 0.8rem;
    text-align: center;
    width: 100%;
}

@media print {
    .header {
        padding-top: 26px;
    }
}

@media print {
    .head th {
        /* Prevent content from being hidden under the header */
        height: 112px;
    }

    .foot td {
        height: 40px;
        text-align: center;
    }

    .header,
    .footer {
        left: 0;
        position: fixed;
    }

    .header {
        top: 0;
    }

    .footer {
        bottom: 0;
    }
}
